@font-face {
    font-family: 'Merriweather-SemiBold';
    src: url("Merriweather_Sans/static/MerriweatherSans-SemiBold.ttf");
}
@font-face {
    font-family: 'Merriweather-Bold';
    src: url("Merriweather_Sans/static/MerriweatherSans-Bold.ttf");
}
@font-face {
    font-family: 'Merriweather';
    src: url("Merriweather_Sans/static/MerriweatherSans-Regular.ttf");
}
@font-face {
    font-family: 'Merriweather-Light';
    src: url('Merriweather_Sans/static/MerriweatherSans-Light.ttf');
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: var(--footer-background-color);
}

#footer-info-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--footer-color-2);
    box-sizing: border-box;
    padding: 1%;
}

#footer-location-contact-container {
    display: flex;
    width: 44%;
    gap: 1em;
    justify-content: flex-start;
}

#footer-license-container {
    display: flex;
    width: 56%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: .8em;
    letter-spacing: 4%;
    word-spacing: 2%;
    line-height: 150%;
    box-sizing: border-box;
}

.footer-info-containers {
    display: flex;
    width: auto;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
}

.copy-license {
    display: flex;
    font-family: "Merriweather-Light";
}

#copyright-symbol {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-titles {
    width: fit-content;
    font-family: "Merriweather-Light";
    color: var(--footer-color-1);
    font-size: 1.4em;
    letter-spacing: 4%;
    line-height: 95%;
}

.footer-info {
    display: flex;
    width: fit-content;
    max-width: 18em;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Merriweather-Light";
    font-size: .8em;
    letter-spacing: 3%;
    word-spacing: 2%;
    line-height: 150%;
}

.footer-navigation-buttons {
    text-decoration: none;
    color: var(--footer-color-2);
    width: auto;
}

.footer-navigation-buttons:hover {
    text-decoration: underline solid var(--footer-color-1) .15em;
    text-underline-offset: .2em;
    text-decoration-skip-ink: none;
}
