@font-face {
    font-family: 'Merriweather-SemiBold';
    src: url("Merriweather_Sans/static/MerriweatherSans-SemiBold.ttf");
}
@font-face {
    font-family: 'Merriweather-Bold';
    src: url("Merriweather_Sans/static/MerriweatherSans-Bold.ttf");
}
@font-face {
    font-family: 'Merriweather';
    src: url("Merriweather_Sans/static/MerriweatherSans-Regular.ttf");
}
@font-face {
    font-family: 'Merriweather-Light';
    src: url('Merriweather_Sans/static/MerriweatherSans-Light.ttf');
}
 

/* NAVBAR */
#navigation-header-container {
    display: flex;
    background-color: var(--background-color-1);
    width: 100%;
    height: 13%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0em 0em .2em .02em #101515;
    padding: 0 1%;          /* add symmetric side padding */
    box-sizing: border-box;
}

#nav-header-image-title-container {
    display: flex;
    width: 56%;
    min-width: 20em;
    height: 100%;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    /* no left-only padding here */
}

#header-image-container {
    display: flex;
    height: 70%;
    align-items: center;
}

#header-image {
    width: 5.5em;
    height: auto;
}

#header-title {
    font-size: 3.4em;
    letter-spacing: 2%;
    word-spacing: 3%;
    line-height: 90%;
    font-family: "Merriweather-SemiBold";
    color: var(--color-1);
    cursor: pointer;
}

#nav-header-nav-container {
    display: flex;

    height: 100%;
    align-items: center;
}

#header-nav-container {
    display: flex;
    gap: 3em;
    align-items: center;
}
/* hidden here, shown on mobile */
#dropdown-indicator {
        display: none;
        cursor: pointer;
    }

#navigation-menu {
    display: flex;
    gap: 2em;
    align-items: center;
}

.nav-button {
    font-family: "Merriweather";
    color: var(--color-1);
    letter-spacing: 5%;
    text-decoration: none;
    padding: .5em 0em;
    font-size: 130%;
}

#quote-nav {
    font-size: 100%;
}

.nav-button:hover {
    color: var(--highlight-color-1);
    cursor: pointer;
}