@font-face {
    font-family: 'Merriweather-SemiBold';
    src: url("Merriweather_Sans/static/MerriweatherSans-SemiBold.ttf");
}
@font-face {
    font-family: 'Merriweather-Bold';
    src: url("Merriweather_Sans/static/MerriweatherSans-Bold.ttf");
}
@font-face {
    font-family: 'Merriweather';
    src: url("Merriweather_Sans/static/MerriweatherSans-Regular.ttf");
}
@font-face {
    font-family: 'Merriweather-Light';
    src: url('Merriweather_Sans/static/MerriweatherSans-Light.ttf');
}

/* RESET / BASE */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

section {
    width: 100%;
}


/* HOME */
#home {
    height: 100vh;
    box-sizing: border-box;
}

#home-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#home-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#one-liner-container {
    display: flex;
    position: absolute;
    background-color: #253031;
    width: 35em;
    height: fit-content;
    top: 11em;
    z-index: 10;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: .0em .0em .9em .0006em #253031;
}

#one-liner {
    color: #EED6D5;
    font-size: 1.5em;
    line-height: 1.45em;
    padding: 1em;
    font-family: "Merriweather-Light";
}

#contact-form-title {
    font-size: 1em;
}

#one-liner-tag {
    display: flex;
    width: 3em;
    background-color: #FED13D;
    height: auto;
}

/* SERVICES */
#service {
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: #F2F1ED;
    box-shadow: .0em .0em 1em 1em #253031;
}

#service-container {
    min-height: 50vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0em 4em;
}
#service-container-box {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
}

#service-title {
    color: #253031;
    width: fit-content;
    font-size: 3em;
    font-family: "Merriweather-Bold";
    text-align: start;
    line-height: 100%;

}

#service-title-underline {
    display: flex;
    width: auto;
    height: .19em;
    background-color: #253031;
    border-radius: 3em;

}

#service-info {
    display: flex;
    width: fit-content;
    margin: 1em 0em;
    font-size: 1.3em;
    font-family: "Merriweather-Light";
    text-align: start;
    letter-spacing: 2%;
    word-spacing: 5%;
    line-height: 125%;
    gap: 1.2em;
}
.service-info-boxes {
    border-radius: .5em;
    width: 27em;
    background-color: #F37B18;
    padding: 1em;
    box-shadow: .0em .0em .2em .006em #6d7071;
}
#service-nav-button-box {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
#service-nav-button {
    background-color: #253031;
    color: #F2F1ED;
    padding: .3em;
    font-size: 2em;
    text-decoration: none;
    border-radius: .4em;
    box-shadow: .0em .0em .2em .006em #6d7071;
    width: 5em;
}
#service-nav-button:hover {
    background-color: #F37B18;
    color: #f2f2f2;
    box-shadow: .0em .0em .1em .006em #6d7071;
}
/* PROJECTS */
#projects {
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: #F2F1ED;
}

#projects-container {
    min-height: 50vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0em 4em;
}
#projects-container-box {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
}

#projects-title {
    color: #253031;
    width: fit-content;
    font-size: 3em;
    font-family: "Merriweather-Bold";
    text-align: start;
    line-height: 100%;

}

#projects-title-underline {
    display: flex;
    width: auto;
    height: .19em;
    background-color: #253031;
    border-radius: 3em;

}

#project-card-container {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 1em;
    flex-wrap: wrap;
    height: auto;
}

.project-cards {
    display: flex;
    width: 20em;
    height: 13em;
    padding: 1em;
    background-color: #253031;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    position: relative;
    transition: padding 1s ease-in-out;
    
}
.project-image-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: inherit;
    margin: 1em;
    border-radius: inherit;
    background-color: #F37B18;
    color: #F2F1ED;
    font-size: 3em;
    opacity: 0;
    will-change: opacity;
    transition: opacity 1s ease-in-out;
}
.project-card-image {
    display: flex;
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
    will-change: opacity;
    transition: opacity 1s ease-in-out;
}
.project-cards:hover .project-card-image {
    opacity: 0.3;
}
.project-cards:hover .project-image-overlay {
    opacity: 0.6;
}

/* MATERIAL SYMBOLS */
#dropdown-indicator {
    display: flex;
}

.menu-dropdown {
    font-size: 3em !important;
    color: #EED6D5;
}

.menu-dropdown:hover {
    color: #FED13D;
    cursor: pointer;
}