@font-face {
    font-family: 'Merriweather-SemiBold';
    src: url("Merriweather_Sans/static/MerriweatherSans-SemiBold.ttf");
}
@font-face {
    font-family: 'Merriweather-Bold';
    src: url("Merriweather_Sans/static/MerriweatherSans-Bold.ttf");
}
@font-face {
    font-family: 'Merriweather';
    src: url("Merriweather_Sans/static/MerriweatherSans-Regular.ttf");
}
@font-face {
    font-family: 'Merriweather-Light';
    src: url('Merriweather_Sans/static/MerriweatherSans-Light.ttf');
}
html{
    height: 100%;
    width: 100vw;
}
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}
#home-container{
    display: flex;
    position: fixed;
    width: 100%;
    height: 52em;
}
#home-background{
    display: flex;
    width: 100%;
    height: 52em;
    object-fit: cover;
}
#navigation-header-container{
    display: flex;
    background-color: #253031;
    width: 100%;
    height: 6em;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
#nav-header-image-title-container{
    display: flex;
    width: 20em;
    min-width: 20em;
    height: 100%;
    gap: 1em;
    background-color: #F37B18;
    align-items: center;
}
#header-image-container{
    display: flex;
    height: 70%;
    align-items: center;
}
#header-image{
    display: flex;
    width: 4em;
    height: auto;
    padding-left: 1em;
}
#header-title{
    display: flex;
    font-size: 1.5em;
    align-items: center;
    font-family: "Merriweather";
}
#header-title:hover{
    cursor: pointer;
}
#nav-header-nav-container{
    display: flex;
    justify-content: center;
    padding-right: 1em;
    padding-left: 1em;
}
#header-nav-container{
    display: flex;
    gap: 3em;
}
.nav-button{
    font-family: "Merriweather-SemiBold";
    letter-spacing: 3%;
    word-spacing: 10%;
    color: #EED6D5;
}
#phone-nav{
    text-decoration: none;
}
.nav-button:hover{
    color: #FED13D;
    cursor: pointer;
}
#one-liner-container{
    display: flex;
    position: fixed;
    background-color: #253031;
    width: 30em;
    height: fit-content;
    top: 10em;
    z-index: 99;
    display: none;
}
#one-liner{
    display: flex;
    color: #EED6D5;
    font-size: 1.5em;
    letter-spacing: 2%;
    word-spacing: 5%;
    line-height: 1.45em;
    padding: 1em;
    font-family: "Merriweather-Light";
}
#one-liner-tag{
    display: flex;
    width: 2em;
    height: auto;
    background-color: #FED13D;
    z-index: 8;
}
#service-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 46.2em;
    top: 52em;
    background-color: rgba(238, 214, 213, 1)

}
#service-title{
    display: flex;
    color: #253031;
    width: 100%;
    font-size: 1.5em;
    padding-top: 1.8em;
    font-family: "Merriweather-Bold";
    z-index: 0;
    /* justify-content: center; */
    position: relative;
    left: 4em;
}
#projects-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 46.2em;
    top: 52em;
    background-color: #FED13D;

}
#projects-title{
    display: flex;
    color: #253031;
    width: 100%;
    justify-content: center;
    font-size: 3em;
    padding-top: .4em;
    font-family: "Merriweather-Bold";
    z-index: 0;
}
