
@font-face {
    font-family: 'Winter-Trees'; /* Earthy */
    src: url("winter-trees-font/WinterTreesRegular-d9dmx.ttf"); 
}
@font-face {
    font-family: 'Steps-Mono'; /* Punk */
    src: url("Steps-Mono/Steps-Mono.otf");
}
@font-face {
    font-family: 'Titillium'; /* Classy */
    src: url("Titillium_Web/TitilliumWeb-SemiBold.ttf");
}
:root{
    --background-color-1: #5E5D5C;
    --background-color-2: #A9A9A9;
    --background-color-3: #FECEE9;
    --background-color-4: #FFF5EE;
    --background-color-5: #788475;
    --font-color: #23190C;
    --font-family: 'Titillium';
    --font-size: 1em;
}
html{
    min-height: 39em;
    height: auto;
}
body{
    margin: 0px;
    height: 100%;
    justify-content: center;
    color: var(--font-color);
    background-color: var(--background-color-2);
    font-family: var(--font-family);
    line-height: 1.5em;
    font-size: 1em;
}
#fixed-menu{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 7em;
    justify-content: space-around;
    background-color: var(--background-color-1);
    z-index: 99;
}
#navigation-container{
    display: flex;
    width: 100%;    
    justify-content: center;
    gap: 15%;
}
.navigation{
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}
#navigation-gallery{
    background-color: var(--background-color-3);
}
#navigation-home{
    background-color: var(--background-color-5);
}
#themes-container{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
}
.themes{
    display: flex;
}
#filter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}
#image-gallery-paper-container{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 8.5em;
    justify-content: center;
}
#image-gallery{
    display: flex;
    width: 95%;
    min-height: 40em;
    height: 100%;
    border-radius: 3em;
    background-color: var(--background-color-4);
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5em;
    padding: 1em;
}
.cards{
    display: flex;
    width: 15em;
    height: 20em;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-1);
    border-radius: .4em;
    font-size: var(--font-size);
}
.image-in-card{
    display: flex;
    padding: .3em;
    width: 95%;
    height: 68%;
    object-fit: cover;
    border-radius: 1em;
}
.unfavorite{
    background-color: var(--background-color-5);
}